/* Seletor de ID */
#relogioContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	/* para tornar a altura e a largura responsivas */
	width: 40vw;
	background: url(../img/Relogio_Analogico_03.jpg) no-repeat;
	/* definindo nossa imagem de fundo */
	background-size: 100%;
}

/* Seletor de ID */
#hora,
#minuto,
#segundo {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

/* Seletor de ID */
#hora {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

/* Seletor de ID */
#minuto {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

/* Seletor de ID */
#segundo {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}
